web:
  image: nginx:1.13-alpine
  volumes:
   - ./template:/template
   - ./generated-files:/usr/share/nginx/html
  ports:
   - "80:80"
  environment:
   - NGINX_PORT=80
   - SHA_FOLDER=sha123
  command: /bin/sh -c "envsubst < ./template/default.conf.tmpl > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
 